<% provide(:title, "Home") %>
<div class="center hero-unit">
	<h1>Welcome to the Electronic Bulletin Board</h1>
	
	<h2>This is an application that allows to you to purchase advertising space on an electronic billboard.</h2>
	
	<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>